@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';


.projects-grid {
  // background-color: $blue-1;
  background-color: $bg-fill-1;
  padding-top: 30px;
  padding-bottom: 60px;
  @include responsive-side-margins;

  // padding: 30px 0 60px;

  &__content-container {
    @include tablet {
      margin: 0 auto;
      max-width: $page-width-desktop-wide;
    }
  }

  &__heading {
    margin-bottom: 10px;
  }

  &__container {

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // grid-template-rows: 1fr 1fr 1fr;
      gap: 14px 14px;
      // grid-template-areas:
      //   ". . ."
      //   ". . ."
      //   ". . .";
    }
  }

}