@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.project-page-element {

  &__main-heading {
    margin-bottom: 10px;
    // color: $blue-1;
  }

  &__sub-heading {
    margin: 30px 0 10px;
  }

  &__h4 {
    margin: 20px 0 5px;
  }

  &__hr {
    @include hr;
  }

  &__code {
    // @include font($mulish, 1.6rem, 400);
    background-color: #1e1e1e;
    color: #9cdcfe;
    padding: 10px 5px;
    margin: 30px 0;
    // overflow-x: scroll;
    overflow-y: scroll;
    max-height: 350px;
    
    @include tablet {
      @include font($mulish, 1.4rem, 400);
      max-height: 290px;
      padding: 10px 20px;
    }
  }

  &__fine-print {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 15px;
    
    &--red {
      color: orangered;
    }
  }

  &__image {
    @include image-with-border;
    margin-top: 20px;

    &-container {
      margin-bottom: 30px;

      // @include tablet {
      //   margin-bottom: 50px;
      // }
    }
  }

  &__double-image {
    padding-top: 15px;
    margin-bottom: 25px;

    &-container {
      @include tablet {
        @include flex(row nowrap, space-between, flex-start);
      }
    }

    &-image {
      @include image-with-border;
      
      @include tablet {
        width: 49%;
      }

      &--first {
        margin-bottom: 15px;
        @include tablet {
          margin-bottom: 0;
        }
      }
    }
  }

  &__paragraph {
    margin-bottom: $paragraph-bottom-margin;
  }
  
  &__text-with-link {

    // Margins in the case of 'standard'
    &--standard {
      margin-bottom: 20px;
    }

    // Margins in the case of 'top-only'
    &--top-only {
      margin-top: 20px;
    }
  }
}


.image-with-text {
  margin: 20px 0;
  
  @include tablet {
    @include flex(row nowrap, space-between, flex-start);
  }

  &__figure {
    margin: 30px 0 30px;
    
    @include tablet {
      margin: unset;
      width: 49%;
    }
  }

  &__image {
    @include image-with-border;
  }
  
  &__paragraph {
    @include tablet {
      width: 49%;
    }
  }

}