@import 'typography';

//------------------------------
// Breakpoints
//------------------------------
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

//------------------------------
// Fonts
//------------------------------
$amiko: 'Amiko', sans-serif;
$mulish: 'Mulish', sans-serif;

$heading-font: $amiko;
$body-font: $mulish;

//------------------------------
// Sizing / Spacing
//------------------------------
// Side margins
$mobile-margin: 5.625vw;
$tablet-margin: 3.255vw;
$desktop-margin: 0;
// $desktop-margin: 5vw;
// $mobile-margin: 18px;
// $tablet-margin: 25px;
// $desktop-margin: 60px;

// Content container widths
$desktop-container-width: 1050px;

// Vertical margins
$mobile-section-vertical-margin: 12px;
$tablet-section-vertical-margin: 20px;
$desktop-section-vertical-margin: 20px;

// Common elements spacing
$paragraph-bottom-margin: 10px;

// Border radius
$section-border-radius: 10px;


//------------------------------
// Color palette
//------------------------------
// Palette colors
$black: #04071C;
$blue-1: #3C79E1;
$blue-2: #83A8DE;
// old $blue-3: #9ABDCE;
$blue-3: #B1C9F3;
$topaz: #7C778A;
$grey-1: #B3B3B3;
$grey-2: #CCCCCC;
$grey-3: #F2F2F2;
$parchment: #F1E9D2;
$white: White;

// Text colour assignments
$text-1: $black;
$text-2: $blue-1;
$text-grey: $grey-1;
$text-links-color: $blue-1;
$text-links-color-hover: $blue-2;
// $placeholder-text-color: $grey-2;

// Fills
$border-color-1: $grey-1;
$border-color-2: $grey-2;
$bg-fill-1: $grey-3;
$bg-fill-2: $parchment;
$button-fill: $blue-1;
$button-hover: $blue-2;
$hr-fill: $grey-2;
