@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';



.home {
  &__top-container {
    // background-image: linear-gradient(180deg, #8392DE, #29398B);
    background-image: linear-gradient(180deg, #29398B, #8392DE);
    
    @include tablet {
      padding-bottom: 50px;
    }
  }
}

.home-bio {
  @include responsive-side-margins;
  // @include responsive-bottom-margin;
  padding-bottom: 30px;
  padding-top: 14px;
  
  @include tablet {
    @include flex(row nowrap, flex-start, flex-start);
  }

  @include desktop {
    @include flex(row nowrap, space-between, flex-start);
    margin: 0 auto;
    width: $desktop-container-width;
  }

  &__portrait {
    float: left;
    max-width: 143px;
    margin-right: 14px;

    @include tablet {
      float: unset;
      margin-right: 30px;
      max-width: 236px;
    }
    
    @include desktop {
      margin-right: 0;
    }
  }

  &__text-container {

    @include tablet {
      width: 742px;
    }
  }

  &__text {
    color: $white;
    padding-bottom: $paragraph-bottom-margin;
  }

}

.home-middle {
  // padding: $mobile-section-vertical-margin $mobile-margin 50px;
  @include responsive-side-margins;
  @include responsive-top-margin;
  padding-bottom: 50px;
  background-color: $bg-fill-1;
  
  @include tablet {
    // background-color: rgb(41, 59, 139);
    // background-color: $white;
    // background-image: linear-gradient(135deg, #9ABDCE, #83A8DE, #293B8B, #142666);
    background-color: $bg-fill-1;
  }
  
  &__content-container {
    @include tablet {
      position: relative;
      top: -70px;
      @include flex(row nowrap, space-between, flex-start);
    }
    
    @include desktop {
      margin: 0 auto;
      top: -50px;
      width: $desktop-container-width;
      @include flex(row nowrap, space-between, flex-start);
    }
  }
}