@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.project-showcase {
  @include inset-section-margins;
  @include responsive-bottom-margin;
  padding-top: 20px;

  border-radius: $section-border-radius;
  background-color: $white;
  border: 1px solid $grey-3;
  box-shadow: 5px 5px 7px -5px rgba(0,0,0,0.18);
  // padding: $mobile-section-vertical-margin 18px;
  
  @include tablet {
    padding-top: 18px;
    width: 465px;
  }

  @include desktop {
    padding-top: 28px;
    width: 710px;
  }

  &__link {
    color: $text-1;
    text-decoration: none;

    &:hover {
      
      text-decoration: underline;
    }
  }

  &__heading {
    padding-bottom: 8px;
  }
  
  &__sub-heading {
    padding-bottom: 8px;
  }

  &__image {
    @include image-with-border;
    // border: 1px solid $grey-2;
    // margin-bottom: 15px;
    
    @include tablet {
      max-width: 570px;
    }
  }
   
  &__paragraph {
    padding-bottom: $paragraph-bottom-margin;
  }

}