@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.header {

  // @include responsive-side-margins
  padding: 27px 0 $mobile-section-vertical-margin;
  text-align: center;

  @include tablet {
    @include flex(row wrap, flex-end, center);
    padding: 27px $tablet-margin $mobile-section-vertical-margin;
    text-align: left;
  }

  @include desktop {
    // Centre the header
    margin: 0 auto;
    padding: 27px $desktop-margin $mobile-section-vertical-margin;
    width: $desktop-container-width;
  }

  &__logo-container {
    margin-bottom: 10px;

    @include tablet {
      margin-right: auto;
    }
  }

  &__heading {
    line-height: 90%;
  }

  &__subheading {
    font-size: 2.3rem;

    @include tablet {
      margin-left: 6px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__page-links-container {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: unset;
      margin-right: 9px;
    }

    @include desktop {
      margin-right: 30px;
    }
  }

  &__page-link {
    position: relative; //============= ?
    @include font($mulish, 1.6rem, 400);

    color: $text-links-color;
    margin: 0 21px;
    text-decoration: none;

    @include tablet {
      margin: 0 13px;
    }

    &:hover::after {
      background-color: #e26184;
      width: 100%;
    }
    
    // Hover animation line for page links
    &::after {
      background-color: $blue-1;
      content: '';
      height: 1px;
      z-index: 10;
      width: 5%;
      
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, 10px);
    }
  }

  &__contact-links-container {
    opacity: 1; //=====================
  }

  &__contact-link-icon {
    margin: 0 13px;
    width: 33px;

    &:hover {
      opacity: 0.5;
    }

    &--last-item {
      @include tablet {
        margin: 0 0 0 13px;
      }
    }
  }
}