@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.header {

  // @include responsive-side-margins
  padding: 27px 0 $mobile-section-vertical-margin;
  text-align: center;

  @include tablet {
    @include flex(row wrap, flex-end, center);
    padding: 27px $tablet-margin $mobile-section-vertical-margin;
    text-align: left;
  }

  @include desktop {
    // Centre the header
    margin: 0 auto;
    padding: 27px $desktop-margin $mobile-section-vertical-margin;
    width: $desktop-container-width;
  }

  &__logo-container {
    margin-bottom: 10px;

    @include tablet {
      margin-right: auto;
    }
  }

  &__heading {
    line-height: 90%;
  }

  &__subheading {
    font-size: 2.3rem;

    @include tablet {
      margin-left: 6px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__page-links-container {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: unset;
      margin-right: 9px;
    }

    @include desktop {
      margin-right: 30px;
    }
  }

  &__page-link {
    position: relative; //============= ?
    @include font($mulish, 1.6rem, 400);
    // display: inline-block;
    color: $text-links-color;
    margin: 0 21px;
    padding: 15px 0;
    text-decoration: none;

    --border-color: #3C79E1;
    --border-width: 1px;
    --bottom-distance: 0px; /* you can increase this */
    
    // display: inline-block;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    background-position: 0 calc(100% - var(--bottom-distance));
    // background-position: 0 calc(100% + var(--bottom-distance));
    // margin: 5px 0;

    &:hover {
      background-size: 100% var(--border-width);
    }

    @include tablet {
      margin: 0 10px;
    }

    @include desktop {
      margin: 0 30px;
    }
    
  }

  &__contact-links-container {
    opacity: 1; //=====================
  }

  &__contact-link-icon {
    margin: 0 13px;
    width: 33px;

    &:hover {
      opacity: 0.5;
    }

    &--last-item {
      @include tablet {
        margin: 0 0 0 13px;
      }
    }
  }
}