@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';


.image-grid {

  margin: 30px 0;
  gap: 14px 14px;
  display: grid;

  &__2-columns {
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      
    }
  }

  &__3-columns {
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__4-columns {
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }


}