@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';


.projects-grid-item {
  background-color: $white;
  border: 3px $grey-2 solid;

  // max-width: 310px;
  // padding: 10px;

  margin-bottom: 20px;

  @include tablet {
    margin-bottom: unset;
  }

  &__heading {
    color: $blue-1;
    padding: 0 8px;
    margin: 5px 0 8px;
  }

  &__skills {
    padding: 0 8px;
  }
  
  &__sub-heading {
    color: $black;
    padding: 0 8px;
    margin-bottom: 25px;
  }

  &__image {
    // @include image-with-border;
    opacity: 1;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__stripe {
    border-bottom: 3px $blue-1 solid;
    height: 100%;
  }

}