@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.react-pdf__Page__canvas {
  @include image-with-border;
  // @include aspect-ratio(210, 297);
  // margin: 0;
  // width: auto !important;
  // height: auto im !important;
  // padding-top: 129.41%;
	
	// background-color: lightgreen;
  // background-size: contain;
}

.cv {
  // background-color: lightgreen;
  @include responsive-side-margins;
  @include responsive-bottom-margin;
  padding-top: 20px;
  // padding-bottom: 50px;

  &__content-container {
    @include tablet {
      margin: 0 auto;
      max-width: 800px;
    }
  }

  &__dummy-div {
    background-color: lightsalmon;
    height: 5px;
    opacity: 1; //==============
  }

  &__main-heading {
    margin-bottom: 10px;
  }

  &__hr {
    @include hr;
    visibility: hidden;
  }

  &__link {
    // display: block;
    @include flex(row nowrap, flex-start, center);
    // display: flex;
    margin-bottom: 15px;
  }

  &__icon {
    display: inline;
    height: 24px;
    padding-right: 10px;
    width: auto;
  }

  &__image {
    @include image-with-border;
  }

  &__pdf-embed {
    // @include image-with-border;

    // border: 1px solid $grey-2;
    opacity: 1; //=======================
    // background-color: gainsboro;
    // width: 100%;
    // height: 1100px;
  }

}